@import "nule.scss";
@import "mixins.scss";

html, body{
	height: 100%;
	overflow-x: hidden;
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.menu__container {

	margin: 0 auto;
	width: 83.4%;
	min-width: 700px;

}

.header__menu {

	width: 100%;
	height: 123px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__logo {
	color: #212121; 
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 700;
	line-height: 22px;
}

.menu__list {
	display: flex;
	overflow: auto;
}

.list__item {
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1px;
	margin: 0 22px;
}

@import "burger.scss";

.header__screen {
	flex: 1 0 auto;
	background: url(img/header.png) center/cover, black;
	text-align: center;
	padding: 182px 0 20px;
}
.header__title {

	color: #fff;
	font-family: "Open Sans - Semibold";
	@include adaptiv-font(60, 35);
	font-weight: 400;
	letter-spacing: 3px;
	margin: 0 0 26px 0;
}
.header__subtitle {

	color: #ffffff;
	font-family: "Open Sans";
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.1px;
	margin: 0 0 8% 0;

}


.header .btn{
	margin: 0 20px;
}

.btn{

	padding: 28px 35px;
	color: #ffffff;
	font-family: Roboto;
	@include adaptiv-font(20, 14);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 3px solid #ffffff;
	@media (max-width: 320px) {
		padding: 14px 17px;
	}
}

.btn:hover {

	background: #00897b;
	border: none;
	transition: background 0.5s ease 0s;
	padding: 31px 38px;

}
.header__btns {
	width: 33.14%;
	min-width: 200px;
	margin: 0 auto 10%;
	display: flex;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: block;
		& .btn{
			display: block;
			margin-bottom: 20px;
		}
	}
}

.about {
	background: #ffffff;
	padding: 123px 0 79px;
}

.container{

	max-width: 1170px;
	padding: 0 20px;
	text-align:  center;
	margin: 0 auto;
}

.title {
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	/* Text style for "A, bout Us" */
	letter-spacing: 1.5px;
	margin: 0 0 32.5px 0;
	}

.text {

	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin: 0 0 121.5px 0;
}

.about__flex {

	display: flex;
	justify-content: space-between;
	margin: 0 -77.5px;
	@media (max-width: 800px) {
		display: block;
		& .about__item{
			margin-bottom: 20px;
		}
	}

}

.item {
	display: flex;
	flex-direction: column;
}

.about__item {
	padding: 0 77.5px;
}

.item__img {
	margin: 0 0 38px 0;
}

.item__img img{
	margin: 0 auto;
}


.item__title {
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1px;
	margin: 0 0 21.5px 0;
}

.item__text {
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin-bottom: 44px;
}

.ourServices {
		padding: 173px 0 126px 0;
		background: #e4fdf9
	}

.ourServices__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	gap: 30px;
	justify-items: center; 
	transition: background 0.5s ease 0s;
}

.imgPhone {
	padding: 0 0 62px 0;
	background: url(img/ServicesIcon.png) center no-repeat;
	transition: background 0.5s ease 0s;
}

.btn__mod {

	padding: 28px 35px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: center;
	color: black;
	border: 3px solid black;
	transition: background 0.5s ease 0s;
	@media (max-width: 500px) {
		padding: 14px 17px;
	}
}

.grid__item {
	background: #fff;
	padding: 58px 50px 71px;
	transition: background 0.5s ease 0s;
	@media (max-width: 441px) {
		padding: 35px 15px;
	}
}

.grid__item.hover{
	 color: #fff;
	 background: #00897b;
}

.imgPhone.hover{
	background: url(img/services_hover.png)center no-repeat;
}

.item__title.hover{color: #fff;}
.item__text.hover{color: #fff;}

.btn__mod.hover {
	background: #00897b;
	border: 3px solid #fff;
	transition: background 0.5s ease 0s;
	color: #fff;
	cursor: url(img/curs.png), pointer;
}

.hover{
	transition: all 0.5s ease 0s;
}

.latestWorks {
	background: #fff;
	padding: 130px 0;
}

.latestWorks__btns {
	margin: 0 0 119px 0;
}
.latestWorks__grid {

	margin: 0 0 129px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	gap: 30px;
}

.grid__img  {
	position: relative;
}

.grid__img img {
	width: 100%;
}

.grid__text{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	box-shadow: inset 0 0 10px rgba(0,137,123,0.5);
	transition: all 0.5s ease 0s;
	visibility: hidden;
	opacity: 0;
}

.grid__text span{
	color: white;
	font-size: 50px;
	transition: all 0.5s ease 0s;
}


.grid__img:hover .grid__text{
	visibility: visible;
	opacity: 1;
}

.latestWorks__btn {

	margin: 0 20px;
	border: 3px solid  #00897b;
	color: black;
	@media (max-width: 900px) {
		display: inline-block;
		margin-bottom: 20px;
	}
}


.latestWorks__btn:hover {

	background: #00897b;
	border: none;
	transition: background 0.5s ease 0s;
	padding: 31px 38px;
	color: #fff;
}


.latestWorks__btn a:fist-child, 
.latestWorks__btn a:last-child{
	margin: 0 0px;
}


.pricingPlan {
	padding: 127px 0;
	background: #f0f0f0;
}

.pricingPlan__cads{
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;
	@media (max-width: 1050px){
		display: block;
		width: 100%;
	}
}
.card{
	flex: 1 1 33.33%;
	padding: 48px 95px 63px;
	background: url(img/card_back.png) 0 0 no-repeat, #fff;
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	@media (max-width: 1050px){
		margin: 0 auto 20px; 
		width: 350px;
	}
	@media (max-width: 411px){
		width: 300px;

	}
}

.card__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 400;
	line-height: 22px;
	/* Text style for "Free Trail" */
	letter-spacing: 1.25px;
	margin-bottom: 39px;
	}
.card__price {
	margin-bottom: 116px;
}


.dollar {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.25px;
	display: inline-block;
	transform: translateY(-15px);
	margin:0 5px;
}

.price {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 50px;
	font-weight: 400;
	line-height: 22px;
	/* Text style for "0, 0" */
	letter-spacing: 2.5px;
	margin:0 5px;
}
.per__month {

	color: #ffffff;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	/* Text style for "per month" */
	letter-spacing: 0.85px;
	margin:0 5px;
}

.card__text {

	color: #212121;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.85px;
	position: relative;
	margin-bottom: 30px;
	position: relative;
}

.card__text:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 30px;
	width: 178px;
	height: 2px;
	background: #cfcfcf;
}

.card__btn {
	padding: 22px 33px;
	color: black;
	border: 3px solid black;
	font-size: 15px;
}

.card__btn:hover {
	background: #3949ab;
	border: none;
	transition: background 0.5s ease 0s;
	padding: 25px 36px;
	color: #fff;
}


.ourTeam {
	padding: 122px 0 126px;
	min-width: 0;
}

.ourTeam__slider {
	min-width: 0;
}

.slick-list {
	overflow-x: hidden;
}

.slick-track{
	display: flex;
	justify-content: space-between;
	
}

.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-dots li{
	list-style: none;
	&.slick-active button{
	background: transparent;
	border: 1px solid grey;
	}
}

.slick-dots button{
	font-size: 0;
	background: grey;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px;
}


.ourTeam__item {
	@media (max-width: 450px){
		transform: scale(0.7);
	}	
}

.ourTeam__photo {
	margin: 0 0 38px;
}

.ourTeam__name {
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	margin: 0 0 12px;
}
.ourTeam__work {
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin: 0 0 29px;
}
.ourTeam__icons {
	display: flex;
	justify-content: center;
	margin: 0 -11px 20px;
}
.ourTeam__icon a{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background: #f0f1f1;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: 0 11px;
	&:hover{
		transition: all 0.8s ease 0s;
		background: #3949ab;
	};
	&:hover img{
		filter:brightness(0) invert(1);
	};
}

.Blog {
	padding: 125px 0;
	background: #e4fdf9;
}

.Blog__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin-bottom: 125px;
}

.Blog__img {
	max-width: 100%;
	margin: 0 auto;
	@media (max-width: 450px){
		transform: scale(0.8);
	}
}

.Blog__Vestibulum{
	padding: 61px 30px;
}

.Blog__Vestibulum h3{
	color: #212121;
	font-family: "Open Sans - Semibold";
	@include adaptiv-font(25, 16);
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.25px;
	margin-bottom: 28px;
	transition: all 0.5s ease 0s;
	&:hover{
		color: #00897b;
		cursor: url(img/curs_grid.png), pointer;
		transition: all 0.5s ease 0s;
	};
}

.Blog__date {
	margin-bottom: 32px;
	display: flex;
	margin-right: 13px;
	& span{
	color: #212121;
	font-family: "Open Sans - Semibold";
	@include adaptiv-font(20, 14);
	font-weight: 700;
	line-height: 22px;
	/* Text style for "Developmen" */
	letter-spacing: 0.85px;
	margin-right: 40px;
	};


}
.Blog__info {
	color: #212121;
	font-family: "Open Sans";
	@include adaptiv-font(15, 12);
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.contact {
	background: url(img/contact__img.png) center/ cover, url(img/contact__phone.png) center/ cover;
	padding: 128px 0 110px;
}
.contact__title {
	color: #ffffff;
}

.contact__text {
	color: #ffffff;
}

.contact__flex {
	display: flex;
	color: #ffffff;
	justify-content: space-between;
	margin-bottom: 79px;
	@media (max-width: 700px){
		display: block;
	}
}
.contact__item {
	@media (max-width: 700px){
		margin-bottom: 20px;
	}
}
.contact__icon {
	text-align: center;
	margin-bottom: 39px;
}
.contact__icon_text {
	display: flex;
	flex-direction: column;
	& span{
		font-family: "Open Sans - Semibold";
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 1px;
	}
}
.send__grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows:84px 323px; 
	column-gap: 31px;
	row-gap: 33px;
	margin-bottom: 39px;
	@media (max-width: 700px){
		display: flex;
		flex-direction: column;
	}
}
.send__grid input, textarea{
	padding: 0 21px 0;
	border-radius: 10px;
	color: #212121;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 1px;;
	@media (max-width: 700px){
		margin-bottom: 20px;
	}
}

.send__grid textarea{
	grid-column: span 2;
	padding: 21px  0 0 21px;
	}

.btn_form{
	text-align: right;
}

.send button{
	padding: 27px 83px;
	color: #212121;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 10px;
}

.rigths {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 73px;
	color: #212121;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1px;

	}
