footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  color: var(--black);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
}
