@import "../mixins";

.btn {
  padding: 28px 35px;
  color: var(--white);
  font-family: Roboto, sans-serif;
  @include adaptiv-font(20, 14);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid var(--white);
  @media (max-width: 320px) {
    padding: 14px 17px;
  }

  &:hover {
    background: var(--dark-green);
    transition: background 0.8s ease 0s;
  }

  &--mod {
    padding: 28px 35px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: center;
    color: black;
    border: 3px solid black;
    transition: background 0.5s ease 0s;
    @media (max-width: 500px) {
      padding: 14px 17px;
    }

    &.hover {
      background: var(--dark-green);
      border: 3px solid var(--white);
      transition: background 0.5s ease 0s;
      color: var(--white);
      cursor: url(../images/curs.png), pointer;
    }
  }
}
