doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='assets/css/style.min.css')
        link(rel='icon' href='https://w7.pngwing.com/pngs/843/61/png-transparent-claremont-mckenna-college-pitzer-college-logo-professor-web-site-text-trademark-service-thumbnail.png')
        title Web Development
    body
        include ./modules/header
        include ./modules/about
        include ./modules/services
        include ./modules/works
        include ./modules/pricing
        include ./modules/team
        include ./modules/blog
        include ./modules/contact
        footer
            span All rights Reserved
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
        script(src='assets/js/main.min.js')

